<ul class="breadcrumb bg-light lter b-b wrapper-md">
    <li><a ui-sref="app.console.home"><i class="fa fa-home"></i> Home </a>
    <li class="active"><i class="fa fa-users"></i> {{classroom.title}} - {{classroom.name}}</li>
</ul>

<div class="wrapper-md">
    <div class="wrapper col-lg-12">
        <div class="panel-heading wrapper-xs bg-primary no-border"></div>
        <div class="panel">
            <div class="table-responsive">
                <table datatable="ng" class="table table-striped m-b-none">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="question in classroom.questions">
                        <td>{{ question.vote }}</td>
                        <td>{{ question.answerCount }}</td>
                        <td>{{ question.title }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <button class="btn-lg btn-success access-check" ng-click="showAddConsumerModal()" access-type="CreateConsumer" tooltip-placement="bottom" tooltip="add new consumer" >Add Consumer</button>
    </div>
</div>


