<ul class="breadcrumb bg-light lter b-b wrapper-md">
    <li><a ui-sref="app.home"><i class="fa fa-home"></i> Home </a></li>
    <li><a ui-sref="app.classroom({classroomId: question.course._id })"><i class="fa fa-users"></i> {{question.course.courseNumber}} - {{question.course.title}}</a></li>
    <li class="active"><i class="fa fa-users"></i> {{question.title}}</li>
</ul>

<div class="wrapper-md">
    <div class="wrapper col-lg-12">
        <div class="panel">
            <div class="wrapper-lg">
                <h2 class="m-t-none">{{question.title}}</h2>
                <div>
                    <p>{{question.details}}</p>
                </div>
                <div class="line line-lg b-b b-light"></div>
                <div class="text-muted">
                    <i class="fa fa-clock-o text-muted"></i> {{question.date}} by {{question.author.userName}}
                    <a href="" class="m-l-sm"><i class="fa fa-thumbs-o-up text-muted"></i> 4 votes</a>
                    <a href="" class="m-l-sm"><i class="fa fa-comment-o text-muted"></i> {{question.answers.length}} answers</a>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper col-lg-12" ng-show="question.answers.length>0">
        <h3 class="m-t-lg m-b">{{question.answers.length}} Answers</h3>

        <div class="panel">
            <div class="wrapper-lg">
        <div>
            <div class="m-b-sm m-t-sm" ng-repeat="answer in question.answers  | orderBy:'date':false" >
                <div>
                    <a class="pull-left thumb-sm">
                        <img src="img/a0.jpg" class="img-circle">
                    </a>
                    <div class="m-l-xxl m-b">
                        <div>
                            <a href=""><strong>{{answer.author.userName}}</strong></a>
                            <label class="label bg-dark m-l-xs">Student</label>
                  <span class="text-muted text-xs block m-t-xs">
                    {{answer.date}}
                     <a href="" class="m-l-sm"><i class="fa fa-comment-o text-muted"></i> {{answer.comments.length}} comments</a>

                  </span>
                        </div>
                        <div class="m-t-sm">{{answer.answer}}</div>

                        <div class="m-t-md" ng-show="false">
                            <div class="line line-lg b-b b-light"></div>
                        <form class="ng-pristine ng-valid" ng-submit="answerQuestion()">
                            <div class="form-group">
                                <textarea class="form-control" rows="5" placeholder="Type your answer" ng-model="req.answer"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Post Comment</button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>

                <div class="m-l-xxl" ng-repeat="comment in answer.comments">
                    <a class="pull-left thumb-sm">
                        <img src="img/a1.jpg" class="img-circle">
                    </a>
                    <div class="m-l-xxl m-b">
                        <div>
                            <a href=""><strong>John smith</strong></a>
                            <label class="label bg-dark m-l-xs">Admin</label>
                  <span class="text-muted text-xs block m-t-xs">
                    26 minutes ago
                  </span>
                        </div>
                        <div class="m-t-sm">Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</div>
                    </div>
                </div>

            </div>

        </div>
            </div>
        </div>
    </div>
    <h4 class="m-t-lg m-b">Your Answer</h4>
    <form class="ng-pristine ng-valid" ng-submit="answerQuestion()">
        <div class="form-group">
            <textarea class="form-control" rows="5" placeholder="Type your answer" ng-model="req.answer"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Answer Question</button>
        </div>
    </form>
</div>


