.lh_center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.home-class {
  min-height: 137px;
}

.home-class:hover {
  background-color: #90C8F4;
  cursor: hand;
  cursor: pointer;
}

.home-class .go-icon {
  display: none
}

.home-class:hover .go-icon {
  display: block;
  color: white;
}

.home-class:hover span, .home-class:hover div{
  color: white;
}

.label-empty {
  background-color: #fff;
  color: #42ADFF;
  font-weight: 500;
  border: 1px solid #B5DBF8;
}

.group-box-icon {
  height: 106px;
  width: 106px;
}

.group-text {
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 52px;
}

.group-box {
  height: 106px;
}

.group-icon{
  display:inline-block;
  line-height: 80px;
  width: 80px;
  height: 80px;
  text-align: center;
  vertical-align: bottom;
}

.group-box:hover, .group-box-icon:hover {
  background-color: #90C8F4;
  cursor: hand;
  cursor: pointer;
}

.group-box:hover span, .group-box:hover div
, .group-box:hover i, .group-box-icon:hover i {
  color: white;
}

.tags {
  line-height: 18px;
  float: left;
}

.post-tag {
  color: #39739d;
  font-size: 12px;
  white-space: nowrap;
  background: #e1ecf4;
  border: 1px solid #e1ecf4;
  display: inline-block;
  margin: 2px 2px 2px 0;
  padding: 3px 6px 3px 6px;
  border-radius: 0;
  -webkit-transition: color 0.15s ease, background 0.15s ease, border 0.15s ease;
  -moz-transition: color 0.15s ease, background 0.15s ease, border 0.15s ease;
  -ms-transition: color 0.15s ease, background 0.15s ease, border 0.15s ease;
  -o-transition: color 0.15s ease, background 0.15s ease, border 0.15s ease;
}

.tags a:hover {
  text-decoration: none;
}
.post-tag:hover {
  color: #39739d;
  background-color: #dae7f1;
  border: 1px solid #dae7f1;
}
.question-hyperlink {
  font-size: 16px;
  font-weight: 400;
}

table.dataTable.no-footer {
  border-bottom: 1px solid #eaeff0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background:none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background-color: #90C8F4;
  background:none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: #90C8F4 !important;
  border: 1px solid #90C8F4;
  background-color: #90C8F4;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, white));
  background: -webkit-linear-gradient(top, white 0%, white 100%);
  background: -moz-linear-gradient(top, white 0%, white 100%);
  background: -ms-linear-gradient(top, white 0%, white 100%);
  background: -o-linear-gradient(top, white 0%, white 100%);
  background: linear-gradient(to bottom, white 0%, white 100%);
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  box-shadow: inset 0 0 3px #90C8F4;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.current:active {
  background:none;
  color: #90C8F4 !important;
  border: 1px solid #90C8F4;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

.cr-r-tab .nav-tabs.nav-justified > .active > a,
.cr-r-tab .nav-tabs.nav-justified > .active > a:hover,
.cr-r-tab .nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #fff;
}
.cr-r-tab .nav-tabs.nav-justified li.active i,
.cr-r-tab .nav-tabs.nav-justified li.active span{
  color: #5FA9E3;
}
.cr-r-tab .nav-tabs > li.active > a {
  border-bottom-color: #5FA9E3 !important;
}
.cr-r-tab .nav > li > a:hover,
.cr-r-tab .nav > li > a:focus {
  background-color: #fff;
  color: #5FA9E3;
}
.cr-r-tab .nav a:hover i,
.cr-r-tab .nav a:hover span{
  color: #5FA9E3;
}
.cr-r-tab .nav-tabs > li > a:hover {
  border-color: #fff;
  border-bottom-color: #ddd
}
.cr-l-panel {
  margin-bottom: 0px;
}

.cr-my-group {
  color: #2092E9;
  background-color: white;
  border: 1px solid;
  border-color: #5FA9E3;
}
.cr-group:hover {
  background-color: #90C8F4;
  color:#fff;
  cursor: hand;
  cursor: pointer;
}
.cr-group:hover div,
.cr-group:hover span{
  color:#fff;
}
.cr-group-box {
  border-width:1px;
  border-color: #dee5e7;
  border-left-width:3px;
  border-style: solid;
  border-left-color: #5FA9E3
}
.cr-group-box.my {
  border-left-color: #ffcf8f
}
.post-img {
  display: inline-block;
  width: 128px;
}
.post-add {
  display: block;
}

.answers-header-wrapper {
  padding: 30px 30px 2px 30px;
}
.answers-header {
  clear: both;
  margin-bottom: 15px;
  height: 42px;
  border-bottom: 1px solid #eaebec;
}
.answers-header .answer-count {
  display: block;
  font-size: 22px;
  height: 100%;
  width: 128px;
  float: left;
}
.answers-header-tabs {
  height: 100%;
  float: right;
}
.answers-header-tabs a {
  float: left;
  text-decoration: none;
  display: block;
  background: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-top-width: 2px;
  border-bottom-color: #eaebec;
  color: #767d84;
  font-size: 16px;
  line-height: 1;
  margin: 0 8px 0 0;
  padding: 10px;
  height: 42px;
}
.answers-header-tabs a.current {
  color: #222426;
}
.answers-header-tabs a.current, .answers-header-tabs a:hover {
  font-weight: 400;
  border-color: #eaebec;
  border-bottom-color: #fff;
  border-top-color: #5FA9E3;
}
.answers-header-tabs a:last-child {
  margin-right: 10px;
}
.post-content {
  border-style: none;
  background-color: #fff;
  color: #58666e;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  margin-bottom: 0px;
}
.post-comment.list-group-item {
  padding: 8px;
  border-right-color: #fff;
  border-left-color: #fff;
  border-top-color: #dee5e7;
  border-bottom-color: #dee5e7;

}
.app:before {
  background-color: #f5f9fa;
}
.reply-header {
  height: 64px;
}
.reply-header.reply-header-content {
  height: 64px;
}
.reply-content {
  margin-left: 84px;
  margin-top: 10px;
  border-style: none;
  background-color: #fff;
  color: #58666e;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  padding: 0;
}
.reply-textarea {
  margin-left: 84px;
  margin-top: 30px;
  padding: 0;
}
.reply-separator {
  padding-left: 30px;
  padding-right: 30px;
}
.profile-header {
  border-bottom: 1px solid #dee5e7;
  height: 42px;
}
.thumbnail-img {
  display: inline-block;
  width: 176px;
}
.profile-thumbnail-header {
  height: 236px;
}
.tooltip.custom-tooltip .tooltip-inner {
  color: #fff;
  background-color: #55ACEE;
}
.tooltip.custom-tooltip .tooltip-arrow {
  display: none;
}
.crm-number {
  color: #55ACEE;
  font-weight: 300;
}
.crm-number:hover {
  color: #147CCC;
}
.crm-name {
  color: #58666e;
}
.crm-name:hover {
  color: #363f44;
}
.crm-box-content {
  align-self: center;
}
.crm-box-wrapper {
  display: flex;
  justify-content: center;
  height: 280px;
}
.form-control:focus {
  border-color: #55ACEE;
}
.subcomment p {
  margin: 0 0 0px;
  display: inline-block;
}
.cropArea {
   background: #E4E4E4;
   overflow: hidden;
   width:500px;
   height:350px;
 }
.img-crop {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}
