<div class="modal-header">
  <h3 class="modal-title">{{modalTitle}}
    <div class="pull-right" ng-show="isSubmitting">
      <img src="img/spinning.gif"></img>
    </div>
  </h3>
</div>
<div class="modal-body wrapper-lg">
  <div class="row">
    <div class="col-sm-12">
      <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
      <form name="form" class="form-horizontal form-validation">
        <fieldset>
          <div class="form-group">
            <label class="col-md-3 control-label text-right">Hospital Name in Chinese</label>
            <div class="col-md-7">
              <input placeholder="Please enter hospital name in Chinese" class="form-control input-md" required type="text"
                     ng-model="obj.name">
              <span class="help-block">*required</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label text-right">Hospital Name</label>
            <div class="col-md-7">
              <input placeholder="Please enter hospital name in English" class="form-control input-md" required type="text"
                     ng-model="obj.name_en">
              <span class="help-block">*required</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label text-right">Introduction</label>
            <div class="col-md-7">
              <textarea placeholder="Please enter introduction" rows="10" class="form-control input-md" required type="text"  ng-model="obj.introduction"></textarea>
              <span class="help-block">*required</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label text-right">Address</label>
            <div class="col-md-7">
              <input placeholder="Please enter hospital address" class="form-control input-md" required type="text"
                     ng-model="obj.address">
              <span class="help-block">*required</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label text-right">Website</label>
            <div class="col-md-7">
              <input placeholder="Please enter hospital website url" class="form-control input-md" required type="url"
                     ng-model="obj.homepage">
              <span class="help-block">*required</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label text-right">Ranking</label>
            <div class="col-md-7">
              <input placeholder="Please enter index starting between 1 to 10" class="form-control input-md" required type="number" min="1" max="10" ng-model="obj.ranking">
              <span class="help-block">*required</span>
            </div>
          </div>
        </fieldset>
      </form>
      <div class="modal-footer">
        <button class="btn btn-success" ng-click="submit()" ng-disabled="isSubmitting||form.$invalid">Submit</button>
        <button class="btn btn-danger" ng-click="cancel()" ng-disabled="isSubmitting">Cancel</button>
      </div>
    </div>
  </div>

</div>
