<div class="modal-header">
  <h3 class="modal-title">{{modalTitle}}
  </h3>
</div>
<div class="modal-body wrapper-lg">
  <div class="row">
    <div class="col-sm-12">
      <form name="form" class="form-horizontal form-validation">
        <fieldset>
          <div class="form-group">
            <label class="col-md-3 control-label text-right">Course Number</label>
            <div class="col-md-7">
              <input placeholder="Please enter title" class="form-control input-md" required type="text"
                     ng-model="req.courseNumber">
              <span class="help-block">*required</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label text-right">Title</label>
            <div class="col-md-7">
              <input placeholder="Please enter title" class="form-control input-md" required type="text"
                     ng-model="req.title">
              <span class="help-block">*required</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label text-right">Department</label>
            <div class="col-md-7">
              <input placeholder="Please enter department" class="form-control input-md" required type="text" ng-model="req.department">
              <span class="help-block">*required</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label text-right">Description</label>
            <div class="col-md-7">
              <textarea placeholder="Please enter description" rows="10" class="form-control input-md" type="text" ng-model="req.description"></textarea>
            </div>
          </div>
        </fieldset>
      </form>
      <div class="modal-footer">
        <button class="btn btn-success" ng-click="submit()" ng-disabled="isSubmitting||form.$invalid">Submit</button>
        <button class="btn btn-danger" ng-click="cancel()" ng-disabled="isSubmitting">Cancel</button>
      </div>
    </div>
  </div>

</div>
