<div class="modal-header">
  <h3 class="modal-title">{{modalTitle}}
  </h3>
</div>
<div class="modal-body wrapper-lg">
  <div class="row">
    <div class="col-sm-12">
      <form name="form" class="form-horizontal form-validation">
        <fieldset>
          <div class="form-group">
            <label class="col-md-3 control-label text-right">Course ID</label>
            <div class="col-md-7">
              <div course-typeahead university="5685d15964003731e5e53bd9" valid="validCourseId" ng-model='course' course-id="courseId" course-name="courseName"></div>
              <span class="help-block">*required</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label text-right">Day</label>
            <div class="col-md-7">
              <label class="checkbox-inline i-checks">
                <input type="checkbox" name="classDay" ng-model="day.Monday"><i></i> Monday
              </label>
              <label class="checkbox-inline i-checks">
                <input type="checkbox" name="classDay" ng-model="day.Tuesday"><i></i> Tuesday
              </label>
              <label class="checkbox-inline i-checks">
                <input type="checkbox" name="classDay" ng-model="day.Wednesday"><i></i> Wednesday
              </label>
              <label class="checkbox-inline i-checks">
                <input type="checkbox" name="classDay" ng-model="day.Thursday"><i></i> Thursday
              </label>
              <label class="checkbox-inline i-checks">
                <input type="checkbox" name="classDay" ng-model="day.Friday"><i></i> Friday
              </label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label text-right">Start Time</label>
            <div class="col-md-7">
              <uib-timepicker ng-model="startTime" hour-step="1" minute-step="5"></uib-timepicker>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label text-right">End Time</label>
            <div class="col-md-7">
              <uib-timepicker ng-model="endTime" hour-step="1" minute-step="5"></uib-timepicker>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label text-right">Professor</label>
            <div class="col-md-7">
              <input class="form-control" type="text" ng-model="req.professor">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label text-right">Building</label>
            <div class="col-md-7">
              <input class="form-control" type="text" ng-model="req.building">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label text-right">Room</label>
            <div class="col-md-7">
              <input class="form-control" type="text" ng-model="req.room">
            </div>
          </div>
        </fieldset>
      </form>
      <div class="modal-footer">
        <button class="btn btn-info" ng-click="submit()" ng-disabled="isSubmitting||form.$invalid">Submit</button>
        <button class="btn btn-default" ng-click="cancel()" ng-disabled="isSubmitting">Cancel</button>
      </div>
    </div>
  </div>

</div>
