<!-- navbar header -->
<div class="navbar-header bg-black">
  <button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
    <i class="glyphicon glyphicon-cog"></i>
  </button>

  <!-- brand -->
  <a href="#/" class="navbar-brand text-lt">
    <i class="fa fa-star-half-full"></i>
    <span class="m-l-xs">{{app.name}}</span>
  </a>
  <!-- / brand -->
</div>
<!-- / navbar header -->

<!-- navbar collapse -->
<div class="collapse pos-rlt navbar-collapse box-shadow bg-info dker">

  <!-- / buttons -->

  <!-- link and dropdown -->
  <!--        <ul class="nav navbar-nav hidden-sm">
           <li><a href="#/app/platform">Browse</a></li>
         </ul>
 -->

  <ul class="nav navbar-nav hidden-xs" ng-show="false">
    <li class="dropdown">
      <a href class="dropdown-toggle">
        <span>Browse</span>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#/app/platform">Services</a></li>
        <li class="divider"></li>
        <li><a href="#/app/consumer">Consumers</a></li>
      </ul>
    </li>
  </ul>


  <!-- / link and dropdown -->

  <!-- search form
  <form class="navbar-form  navbar-left shift" role="search"  ng-controller="topBarSearch" ng-submit="doTopBarSearch()">-->
    <form class="navbar-form  navbar-left shift" role="search"  ng-show="false">
    <div class="form-group">
      <div class="input-group">
        <input type="text" ng-model="searchQuery" style="width: 245px" class="form-control input-sm bg-light no-border rounded padder" placeholder="Search for classroom ">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-sm bg-light rounded"><i class="fa fa-search"></i></button>
              </span>
      </div>
    </div>
  </form>

  <!-- / search form -->


  <!-- nabar right -->
  <ul class="nav navbar-nav navbar-right">
      <li class="hidden-xs">
          <a ui-fullscreen></a>
      </li>
    <li uib-dropdown>
      <a uib-dropdown-toggle class="clear">
              <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                <img src="img/b1.jpg" class="img-circle">
              </span>
        <span>{{profile.userName}}</span> <b class="caret"></b>
      </a>
      <!-- dropdown -->
      <ul uib-dropdown-menu class="animated fadeInRight w" role="menu" >
        <li role="menuitem">
          <!-- a ui-sref="app.page.profile">Profile</a--->
          <a ng-click="showUserProfile()">Logout</a>
        </li>
      </ul>
      <!-- / dropdown -->
    </li>
  </ul>
  <!-- / navbar right -->

</div>
<!-- / navbar collapse -->