doctype html
html(ng-app="myApp")
head
meta(charset='utf8')
title Angular Express Seed App
link(rel='stylesheet', href='/css/bootstrap.css')
body
div
ng-view

script(src='public/AdminConsole/js/lib/angular/angular.js')
script(src='public/AdminConsole/js/lib/angular/angular-resource.js')
script(src='public/AdminConsole/js/app.js')
